- name: install docker
  dnf:
    name:
      - docker
      - docker-compose
    state: latest

- name: run container
  docker_container:
    name: wartest
    image: "{{ image }}"
    ports: 8081:8080
    state: started
 
